<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1>Courses</h1>
    
    <% for(course of courses){ %>
        <hr>
        <h2><%= course.name %></h2>
        <h3><%= course.code %></h3>
        <a href="/<%= creator %>/delete/<%= course._id %>"> Delete </a>
        <a href="/<%= creator %>/edit/<%= course._id %>"> Edit </a>
    <% } %>
</body>
</html>